*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(main.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.fundament{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p{
    margin: 20px;
    color: greenyellow;
}
h1{
    color: greenyellow;
}
.oo{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
a{
    margin: 5px
}
h2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
img{
    height: 450px;
    border-radius: 10%
}
